@font-face {
    font-family: logoFont;
    src: url(fonts/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: materialIcons;
    src: url(fonts/MaterialIcons-Regular.ttf);
}
  
.material-icon {
    font-family: materialIcons;
}
body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    font-family: sans-serif;
    display: contents;
    padding: 60px 0px 0px 0px;
    margin: 0px;
    background:#fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
header{
    z-index: 200;
    position: fixed;
    top:0px;
    width: 100%;
    height: 60px;
    background: #ddd;
    color:#333;
    animation: changeBoxShadowColor 20s infinite;
}
header a{
    color:inherit;
    text-decoration: none;
}
footer a{
    color:inherit;
    text-decoration: none;
}
header>.container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header>.container>#header-title{
    height:60px;
    line-height:60px;
    font-size:30px;
    margin:0px;
    padding:0px 0px 0px 10px;
    font-family: logoFont;
    font-weight: 400;
}
header>.container>btn#menu-button{
    padding:0px;
    margin:0px;
    margin-left: auto;
    line-height: 60px;
    font-size: 30px;
    min-width:60px;
    text-align: center;
    cursor:pointer;
}
header>.container>btn#menu-button:hover{
    background: #666;
    color:#fff;    
}
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
}
footer{
    margin-top: auto;
    background: #760e4e;
    color:#ddd;
    padding: 20px;
}
.linkbar{
    z-index: 200;
    background: rgba(200, 200, 200, 0.6);
    position:fixed;
    overflow:hidden;
}
.linkbar>a{
    padding: 10px;
    text-align: center;
    margin:0px;
    cursor: pointer;
}
.linkbar>a:hover{
    background: rgba(50, 50, 50, 0.6);
}
.linkbar>a>img{
    height: 40px;
}
#main-menu{
    color:#fff;
    background: #760e4e;
    margin: 0px;
}
#main-menu>li>a{
    text-decoration: none;
    color:#fff;
}
@media screen and (min-width: 1080px) {
    .linkbar{
        width: 60px;
        top:100px;
        right:0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .linkbar>a{
        display: block;
    }
    #main-menu{
        z-index: 210;
        display: block;
        position: fixed;
        top:0px;
        right:-webkit-calc(50% - 540px);
        right:-moz-calc(50% - 540px);
        right:calc(50% - 540px);
        padding: 0px;
        overflow: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 16px;
        box-shadow: 0px 0px 3px #000;
    }
    #main-menu>li{
        display: inline-block;
        list-style: none;
        padding: 10px 20px;
    }
    header>.container>btn#menu-button{
        display: none;
    }
        
}
@media screen and (max-width: 1080px) {
    footer{
        padding-bottom: 80px;
    }
    .linkbar{
        width: 100%;
        height:60px;
        bottom:0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .linkbar>a{
        flex-grow: 1;
    }
    #main-menu{
        display: none;
        position: fixed;
        top:0px;
        right:0px;
        height:100%;
        width:100%;
        z-index: 100;
        padding: 60px 0px;
    }
    #main-menu>li{
        list-style: none;
        text-align: center;
        font-size: 20px;
        padding:20px;
        border-bottom: 1px solid #402537;
    }
    header>.container>btn#menu-button{
        display: block;
    }
}

@keyframes changeBoxShadowColor {
    0% {
        box-shadow:0px 0px 3px 3px red;
    }
    25% {
        box-shadow:0px 0px 3px 3px blue;
    }
    50% {
        box-shadow:0px 0px 3px 3px green;
    }
    75% {
        box-shadow:0px 0px 3px 3px yellow;
    }
    100% {
        box-shadow:0px 0px 3px 3px red;
    }
  }